form a {
    margin-left: 5px;
}

body .modal {
    position: fixed;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    border: 1px solid #ccc;
    background: #F0F0F0;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    display: block;
}
